* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(90deg, #bdc3c7 39%, #2c3e50 100%);
}
header {
  background-color: #2c3e50;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bold;
  color: whitesmoke;
  font-size: 2.5rem;
}

#balance {
  font-size: 1.6rem;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}
fieldset {
  border: 1px solid #2c3e50;
  padding: 10px;
  border-radius: 5px;
}
legend {
  font-weight: bold;
}
label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
input[type="radio"] {
  margin-right: 10px;
}
input {
  padding: 10px;
  font-size: 15px;
}
button {
  background-color: #2c3e50;
  color: whitesmoke;
  border: none;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #34495e;
}

#transaction-list {
  padding: 20px;
}
#transactions {
  list-style: none;
  margin: 10px 0;
}
